<nav class="navbar">
  <ul class="nav-list">
    <li>
      <a routerLink="/" routerLinkActive="active-link">Observable</a>
    </li>
    <li><a routerLink="/of-operator" routerLinkActive="active-link">of</a></li>
    <li>
      <a routerLink="/map-operator" routerLinkActive="active-link">map</a>
    </li>
    <li>
      <a routerLink="/tap-operator" routerLinkActive="active-link">tap</a>
    </li>
    <li>
      <a routerLink="/switch-map-operator" routerLinkActive="active-link"
        >switchMap</a
      >
    </li>
  </ul>
</nav>

<router-outlet />
